automation/workflow.json
{
  "name": "StackWise Instagram Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "apify-callback",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Apify Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.apify.com/v2/datasets/{{ $json.resource.defaultDatasetId }}/items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $env.APIFY_TOKEN }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Fetch Apify Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputKey": "image",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "Video",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "video",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "Video",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Route by Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.OCRSPACE_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.displayUrl }}"
            },
            {
              "name": "language",
              "value": "eng"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "OCR Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 160]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.videoUrl || $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 440]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Whisper Transcribe",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1200, 440],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Normalize output from OCR and Whisper branches\nconst items = $input.all();\nreturn items.map(item => {\n  const json = item.json;\n  \n  // OCR path: extract ParsedText\n  if (json.ParsedResults) {\n    return {\n      json: {\n        ...json,\n        extractedText: (json.ParsedResults || []).map(r => r.ParsedText).join('\\n'),\n        sourceType: 'ocr'\n      }\n    };\n  }\n  \n  // Whisper path: text is already in json.text\n  if (json.text) {\n    return {\n      json: {\n        ...json,\n        extractedText: json.text,\n        sourceType: 'whisper'\n      }\n    };\n  }\n  \n  // Passthrough with caption fallback\n  return {\n    json: {\n      ...json,\n      extractedText: json.caption || '',\n      sourceType: 'caption'\n    }\n  };\n});"
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Normalize Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "Merge Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1200, 160]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a tool extractor for Claude Code development tools.\n\nGiven the following Instagram post content, extract any Claude Code tools, plugins, skills, frameworks, or MCP servers mentioned.\n\nReturn ONLY a JSON object with this exact format:\n{\"tools\": [\"Tool Name 1\", \"Tool Name 2\"]}\n\nIf no tools are mentioned, return: {\"tools\": []}\n\nRules:\n- Extract the canonical name (e.g. \"Superpowers\" not \"the superpowers plugin\")\n- Include MCP servers, skills, plugins, frameworks, and CLI tools\n- Exclude generic terms like \"Claude\", \"AI\", \"LLM\" — only specific tool names\n- Do NOT include descriptions, just names\n\nContent:\n{{ $json.extractedText }}\n\nCaption:\n{{ $json.caption || 'N/A' }}"
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "Extract Tool Names",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1680, 300]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {
          "maxTokensToSample": 500,
          "temperature": 0
        }
      },
      "id": "a1b2c3d4-0010-4000-8000-000000000010",
      "name": "Anthropic Claude",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [1700, 520],
      "credentials": {
        "anthropicApi": {
          "id": "",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude's response and build the StackWise ingest payload\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const json = item.json;\n  const responseText = json.response || json.text || JSON.stringify(json);\n  \n  // Extract JSON from Claude's response\n  let tools = [];\n  try {\n    const match = responseText.match(/\\{[\\s\\S]*?\\}/);\n    if (match) {\n      const parsed = JSON.parse(match[0]);\n      tools = parsed.tools || [];\n    }\n  } catch (e) {\n    // If parsing fails, skip this item\n  }\n  \n  if (tools.length === 0) continue;\n  \n  // Build post URL from shortCode\n  const sourceUrl = json.shortCode\n    ? `https://www.instagram.com/p/${json.shortCode}/`\n    : json.url || 'unknown';\n  \n  // Determine post type\n  let postType = 'image';\n  if (json.type === 'Video') postType = 'reel';\n  else if (json.type === 'Sidecar') postType = 'carousel';\n  \n  results.push({\n    json: {\n      sourceUrl,\n      postType,\n      rawText: json.extractedText || json.caption || '',\n      tools,\n      creatorHandle: json.ownerUsername || ''\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a1b2c3d4-0011-4000-8000-000000000011",
      "name": "Build Ingest Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/ingest",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a1b2c3d4-0012-4000-8000-000000000012",
      "name": "Submit to StackWise",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2160, 300]
    }
  ],
  "connections": {
    "Apify Webhook": {
      "main": [
        [
          {
            "node": "Fetch Apify Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Apify Results": {
      "main": [
        [
          {
            "node": "Route by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Type": {
      "main": [
        [
          {
            "node": "OCR Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Extract": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Whisper Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper Transcribe": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Branches": {
      "main": [
        [
          {
            "node": "Normalize Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Text": {
      "main": [
        [
          {
            "node": "Extract Tool Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Tool Names": {
      "main": [
        [
          {
            "node": "Build Ingest Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Claude": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Tool Names",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Build Ingest Payload": {
      "main": [
        [
          {
            "node": "Submit to StackWise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "stackwise-automation"
  },
  "pinData": {},
  "active": false,
  "tags": []
}
