automation/workflow.json
{
  "name": "StackWise Instagram Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "apify-callback",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Apify Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.apify.com/v2/datasets/{{ $json.body.resource.defaultDatasetId }}/items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $env.APIFY_TOKEN }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Fetch Apify Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.type }}",
              "operation": "equal",
              "value2": "Video"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Route by Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.OCRSPACE_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.displayUrl }}"
            },
            {
              "name": "language",
              "value": "eng"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "OCR Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 160]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.videoUrl || $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 440]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  try {\n    const buffer = await this.helpers.getBinaryDataBuffer(i, 'data');\n    const FormData = (await import('form-data')).default;\n    const form = new FormData();\n    form.append('file', buffer, { filename: 'audio.mp4', contentType: 'video/mp4' });\n    form.append('model', 'Systran/faster-whisper-small');\n\n    const response = await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${$env.WHISPER_URL || 'http://localhost:8000'}/v1/audio/transcriptions`,\n      headers: form.getHeaders(),\n      body: form,\n      encoding: 'utf-8',\n      json: true\n    });\n\n    results.push({\n      json: {\n        ...items[i].json,\n        text: response.text || ''\n      }\n    });\n  } catch (error) {\n    results.push({\n      json: {\n        ...items[i].json,\n        text: items[i].json.caption || '',\n        whisperError: error.message\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Whisper Transcribe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 440]
    },
    {
      "parameters": {
        "jsCode": "// Normalize output from OCR and Whisper branches\nconst items = $input.all();\nreturn items.map(item => {\n  const json = item.json;\n  \n  // OCR path: extract ParsedText\n  if (json.ParsedResults) {\n    return {\n      json: {\n        ...json,\n        extractedText: (json.ParsedResults || []).map(r => r.ParsedText).join('\\n'),\n        sourceType: 'ocr'\n      }\n    };\n  }\n  \n  // Whisper path: text is already in json.text\n  if (json.text) {\n    return {\n      json: {\n        ...json,\n        extractedText: json.text,\n        sourceType: 'whisper'\n      }\n    };\n  }\n  \n  // Passthrough with caption fallback\n  return {\n    json: {\n      ...json,\n      extractedText: json.caption || '',\n      sourceType: 'caption'\n    }\n  };\n});"
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Normalize Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const json = item.json;\n  const extractedText = json.extractedText || '';\n  const caption = json.caption || 'N/A';\n\n  // Call OpenRouter to extract tool names\n  let tools = [];\n  try {\n    const response = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://openrouter.ai/api/v1/chat/completions',\n      headers: {\n        'Authorization': `Bearer ${$env.OPENROUTER_API_KEY}`,\n        'Content-Type': 'application/json'\n      },\n      body: {\n        model: 'anthropic/claude-sonnet-4',\n        max_tokens: 500,\n        temperature: 0,\n        messages: [{\n          role: 'user',\n          content: `You are a tool extractor for Claude Code development tools.\\n\\nGiven the following Instagram post content, extract any Claude Code tools, plugins, skills, frameworks, or MCP servers mentioned.\\n\\nReturn ONLY a JSON object with this exact format:\\n{\"tools\": [\"Tool Name 1\", \"Tool Name 2\"]}\\n\\nIf no tools are mentioned, return: {\"tools\": []}\\n\\nRules:\\n- Extract the canonical name (e.g. \"Superpowers\" not \"the superpowers plugin\")\\n- Include MCP servers, skills, plugins, frameworks, and CLI tools\\n- Exclude generic terms like \"Claude\", \"AI\", \"LLM\" — only specific tool names\\n- Do NOT include descriptions, just names\\n\\nContent:\\n${extractedText}\\n\\nCaption:\\n${caption}`\n        }]\n      },\n      json: true\n    });\n\n    const responseText = response.choices?.[0]?.message?.content || '';\n    const match = responseText.match(/\\{[\\s\\S]*?\\}/);\n    if (match) {\n      const parsed = JSON.parse(match[0]);\n      tools = parsed.tools || [];\n    }\n  } catch (e) {\n    // If API call or parsing fails, skip\n  }\n\n  if (tools.length === 0) continue;\n\n  const sourceUrl = json.shortCode\n    ? `https://www.instagram.com/p/${json.shortCode}/`\n    : json.url || 'unknown';\n\n  let postType = 'image';\n  if (json.type === 'Video') postType = 'reel';\n  else if (json.type === 'Sidecar') postType = 'carousel';\n\n  results.push({\n    json: {\n      sourceUrl,\n      postType,\n      rawText: extractedText || caption,\n      tools,\n      creatorHandle: json.ownerUsername || ''\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "Extract and Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.STACKWISE_URL || 'http://localhost:3000' }}/api/ingest",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a1b2c3d4-0012-4000-8000-000000000012",
      "name": "Submit to StackWise",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2160, 300]
    }
  ],
  "connections": {
    "Apify Webhook": {
      "main": [
        [
          {
            "node": "Fetch Apify Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Apify Results": {
      "main": [
        [
          {
            "node": "Route by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Type": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OCR Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Extract": {
      "main": [
        [
          {
            "node": "Normalize Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Whisper Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper Transcribe": {
      "main": [
        [
          {
            "node": "Normalize Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Text": {
      "main": [
        [
          {
            "node": "Extract and Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract and Build Payload": {
      "main": [
        [
          {
            "node": "Submit to StackWise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "stackwise-automation"
  },
  "pinData": {},
  "active": false,
  "tags": []
}
